<a href="https://colab.research.google.com/github/jinny520/22AI_python/blob/main/2_(%EC%8B%A4%EC%8A%B5%EC%9A%A9)_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 출력명령어


```
print( 출력할 내용 )
```

In [ ]:
# 숫자 출력 20220516

In [ ]:
# 문자 출력 2022년 5월 16일

In [ ]:
# 문자는 따옴표로 감싸주어야 함

In [ ]:
# 연산하여 출력하기

In [ ]:
#** 제곱


#몫


#나머지

In [ ]:
# 문자 연결하여 출력하기

In [ ]:
# 문자 연결하여 출력하기

In [ ]:
# 문자 * 숫자

## 2. 입력명령어


```
input()
input('입력 안내문')
```

입력된 데이터 양 옆의 작은 따옴표      
-> input()으로 읽어들인 데이터는 모두 문자로 인식

## 3. 변수


```
변수이름 = 저장할 데이터
name = '김은진'
school = '진건고'
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/1_%EB%B3%80%EC%88%98.png?raw=true' width =500>

In [ ]:
# 사과 3개, 바나나1개, 키위2개 구매한 가격은?

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/2_%EB%B3%80%EC%88%98%EC%97%B0%EC%82%B0.png?raw=true' width =300px>

In [ ]:
# 위 가격은 변수에 저장이 되지 않았으므로 재사용이 안됨

In [ ]:
# vip는 20% 할인


# vip가 동일한 가격을 구매했을 때 가격?

In [ ]:
# 이 역시 변수에 저장되지 않았으므로 재사용이 불가

In [ ]:
print('vip가 되시면',price,'원을',vip_price,'원에 구매 가능합니다! ')

## 4. 데이터타입


```
정수 int
실수 float
문자 str
```
#### 데이터타입 변환 --> 변환하려는 타입으로 감싸주기

In [ ]:
# 정수를 실수로

In [ ]:
# 실수를 정수로

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/3_%EC%9E%85%EB%A0%A5%EA%B0%92%20%EB%B3%80%EC%88%98.png?raw=true' width = 300>

In [ ]:
# 문자를 정수로

In [ ]:
# 합쳐서 사용하기

## 5. 리스트

<img src='https://github.com/Ahnjihye/allinone_AI/blob/images/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EA%B0%9C%EB%85%90.png?raw=true' width=500>

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```

In [ ]:
# 가계부 프로그램 
# 1월 지출부터 6월 지출까지 리스트로 만들기

#### 리스트의 인덱스란
<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/7_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width =500>

In [ ]:
# 리스트 내의 원소에 접근하기
# 인덱스 0부터

리스트 마이너스 인덱스
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/8_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%A7%88%EC%9D%B4%EB%84%88%EC%8A%A4%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width=500>

In [ ]:
# 1월 지출은?

In [ ]:
# 6월 지출은?

In [ ]:
# 3월 지출은?

In [ ]:
# 알고보니 4월 지출이 10낮게 기록됐다.
# 4월 지출에 10을 더하시오

In [ ]:
# 5월 지출을 2로 나누시오

#### 리스트의 다양한 명령어


```
len(리스트이름)            # 리스트 길이 확인
리스트이름.append(데이터)    # 리스트에 데이터 추가
리스트이름.sort()          # 리스트 원소 정렬하기
```

In [ ]:
# 오렌지 추가

In [ ]:
# 참외 추가해보기

In [ ]:
# 정렬하기

In [ ]:
print('정렬 전 spend', spend)


print('정렬 후 spend', spend)

#### 리스트 슬라이싱

<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/9_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.png?raw=true' width=500>


```
리스트[시작숫자 : 종료숫자]
```
종료숫자까지 잘라내는 것 XXX
종료숫자에서 탈출하는 것 OOO



```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱하고 abc[5]가 되면 탈출함
abc[4:9]       # abc[4]~abc[9]까지 슬라이싱하고 abc[9]가 되면 탈출함
```

In [ ]:
# 사과, 오렌지만 골라내기

In [ ]:
# 처음부터 [n]까지 골라내기

In [ ]:
# 뒤에서 두 개 데이터 슬라이싱

#### 문자열 슬라이싱

In [ ]:
# get it만 슬라이싱해보기

문자열 분리 명령어 .spilt()


```
문자열.split('분리할 기준')
```

In [ ]:


# 년도만 골라내기


# 숫자로 아직 안바뀐 상태

In [ ]:
# 월만 골라내기

In [ ]:
# 일만 골라내기

## 6. 조건문 if

만약 A라면 B해라      

```
if A :   
    B    
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/10_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B0.png?raw=true' width=500>

In [ ]:
# 만약 미성년자라면 술을 구매할 수 없다고 출력


만약 A라면 B해라,      
그렇지 않으면 C해라      
(A가 아니라면)

```
if A : 
    B
else : 
    C
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/11_%EC%84%A0%ED%83%9D%EA%B5%AC%EC%A1%B02.png?raw=true' width=500>

조건을 만드는 비교 연산자


```
a > b    # a가 b보다 크다면
a < b    # a가 b보다 작다면
a >= b    # a가 b보다 크거나 같다면
a <= b    # a가 b보다 작거나 같다면
a == b    # a와 b가 같다면
a != b    # a와 b가 틀리다면
```

#### 실습 1) 물건 금액을 입력받고 물건이 오만원 미만일 경우 배송비 2500원을 더해서 결제금액을 안내하시오.

#### 실습 2) 목욕탕에 무인정산기를 설치하려고 한다. 성인은 입장료가 15000원, 마성년자는 6000원이다. 나이를 입력받아 알맞은 가격을 안내해라.

## 7. 반복문

```
for A in data : 
    B 
```
<img src = 'https://github.com/Ahnjihye/allinone_AI/blob/images/4_%EB%B0%98%EB%B3%B5%EB%AC%B8.png?raw=true' width=500>

<img src ='https://github.com/Ahnjihye/allinone_AI/blob/images/5_%EB%B0%98%EB%B3%B5%EB%AC%B8%20%EB%8F%99%EC%9E%91%EA%B5%AC%EC%A1%B0.png?raw=true' width=400>

In [ ]:
# 인덱스를 활용하고 싶을 때 range()

In [ ]:
# len() 활용하기

In [ ]:
# range()가 0부터 시작하면 생략 가능

#### 리스트와 반복문, 조건문

In [ ]:
# 50이상 쓴 달을 출력하시오

In [ ]:
# 지출이 12인 달을 출력하시오

# **사용자 정의 함수**

In [ ]:
# 간단한 함수

In [ ]:
# 매개변수가 있는 함수 (어떤 값을 전달하느냐에 따라 결과가 달라지기를 바랄 때)

In [ ]:
# 리턴값이 있는 함수 (함수 실행을 통해 얻은 결과값을 활용하고 싶을 때)

In [ ]:
# 파이썬에서는 여러 개의 리턴값을 한 번에 받을 수 있음

In [ ]:
#나만의 함수 만들어보기

# **기타**

In [ ]:
# 리스트 append할 때 주의할 점

In [ ]:
# 리스트 내 값을 랜덤으로 뽑아내기